<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{indexLayout}">
<style type="text/css">
.input-group {
	height: 50px;
}

a {
	color: #797979;
}

a:hover {
	color: #212529;
}

h2 {
	font-family: 'Jua', sans-serif;
	text-align: center;
}

.carousel-inner img {
	width: 100%; /* Set width to 100% */
	margin: auto;
}

@media ( max-width : 600px) {
	.carousel-caption {
		display: none;
		/* Hide the carousel text when the screen is less than 600 pixels wide */
	}
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
	color: #fff;
}

.carousel-indicators li {
	border-color: #ff;
}

.carousel-indicators li.active {
	background-color: #fff;
}
</style>
<section id="join" class="about roomy-100" layout:fragment="content">
	<form action="UpdateGenericUserService.d4b" method="post" name="loginForm">
		<div class="container">
			<div class="about_content">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="signup-form">
							<br> <br> <br>
							<h2 style="text-align: center">개인회원 정보수정</h2>
							<br>
							<hr>
							<div class="form-group">
								<label>아이디 &nbsp;&nbsp;&nbsp;&nbsp;<span id="tdId"></span></label>
								<input type="text" class="form-control" name="userId"
									id="userId" required="required" value="${userData.userId}" readonly>
							</div>
							<div class="form-group">
								<label>비밀번호 &nbsp;&nbsp;&nbsp;&nbsp;<span id="tdPw"></span></label>
								<input type="password" class="form-control" name="userPwd"
									id="userPwd" required="required" placeholder="영문+숫자 7자 이상" value="${userData.userPwd}">
							</div>
							<div class="form-group">
								<label>이름 &nbsp;&nbsp;&nbsp;&nbsp;<span id="tdId"></span></label>
								<input type="text" class="form-control" name="userName"
									id="userName" required="required"  value="${userData.userName}">
							</div>
							<div class="form-group">
								<label>주민등록번호 &nbsp;&nbsp;&nbsp;&nbsp;<span id="tdId"></span></label>
								<div class="row">&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="text" class="form-control" name="frontResNum" id="frontResNum"
										required="required" style="width:41%;"  value="${userData.frontResNum}" readonly>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="text"
										class="form-control" name="backResNum" id="backResNum"
										required="required" style="width:41%;" value="${userData.backResNum}" readonly>
								</div>
							</div>
							<div class="form-group">
								<label>휴대폰번호 &nbsp;&nbsp;&nbsp;&nbsp;<span id="tdCh"></span></label>
								<input type="text" class="form-control" name="userPhoneNum"
									id="userPhoneNum" required="required" placeholder="010-0000-0000" value="${userData.userPhoneNum}">
							</div>
							<div class="form-group">
								<label>주소 &nbsp;&nbsp;&nbsp;&nbsp;<span id="tdCh"></span></label>
								<div class="row">&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="text" class="form-control" name="userAddr" id="userAddr"
									required="required" placeholder="주소" style="width:72%;"  > &nbsp;&nbsp;
									<input type="button" onclick="searchAddr()" value="주소 검색"><br><br>
								</div>
								<input type="text" class="form-control" name="userDetailAddr" id="userDetailAddr"
									required="required" placeholder="상세주소" style="width:77%;" ><br>
								<div id="map"
									style="width: 300px; height: 300px; margin-top: 10px; margin-left:17%;display: none"></div>
							</div><br>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<button type="submit"
											class="btn btn-primary btn-block btn-lg">수정 완료</button>
									</div>
									<div class="col-sm-6">
										<button type="reset" 
											class="btn btn-primary btn-block btn-lg" onclick="location.href='GetGenericUserMypageMainService.d4b?type=U01&genericUserId=${userData.userId}'">취소</button>
									</div>
								</div>
							</div>
							<br> <br>
							<br> <br> <br>
						</div>
					</div>
				</div>
			</div>
			<!--End off row-->
		</div>
		<!--End off container -->
	</form>
</section>