<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div id="footer" class="footer bg-black" th:fragment="indexFooter">
    <div class="container">
        <div class="row">
            <div class="main_footer text-center p-top-40 p-bottom-30">
                <p class="wow fadeInRight" data-wow-duration="1s">
                    Made by Drop 4our bit</p>
            </div>
        </div>
    </div>
    <script th:src="@{//code.jquery.com/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-1.11.2.min.js}"></script>
    <script th:src="@{/assets/js/vendor/popper.min.js}"></script>
    <script th:src="@{/assets/js/vendor/bootstrap.min.js}"></script>

    <script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>
    <script th:src="@{/assets/js/jquery.easing.1.3.js}"></script>
    <script th:src="@{/assets/js/slick.min.js}"></script>
    <script th:src="@{/assets/js/jquery.collapse.js}"></script>

    <script th:src="@{/assets/js/plugins.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/js/bootsnav.js}"></script>

    <script th:src="@{/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js}"></script>
    <script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{//code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>

</div>
