<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{indexLayout}">
<style type="text/css" layout:fragment="pageCss">
    .input-group {
        height: 50px;
    }

    h2{
        font-family: 'Jua', sans-serif;
        text-align: center;
    }
</style>
<section id="id" class="about roomy-100" layout:fragment="content">
    <div class="container">
        <div class="about_content">
            <div class="row">
                <div class="col-md-3"></div>
                   <div class="col-md-6">
                    <div class="signup-form">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h2 style="font-size: 150px;">✔</h2>
                        <br>
                        <br>
                        <h2>회원가입이 <span style="color : #ff3300;">완료</span> 되었습니다.</h2>
                        <br>
                        <br>
                        <h2 style="font-size: 18px;">맞집 회원이 되신 것을 환영합니다.<br> 알차고 실속있는 서비스만 제공하겠습니다.</h2>
                        <hr>
                        <br>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-primary btn-block btn-lg" onclick="location.href='/sign/loginPage'">Log in</button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-primary btn-block btn-lg" onclick="location.href='/'">Main</button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!--End off row-->
    </div>
    <!--End off container -->
</section>