<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{indexLayout}"
>
<head>
    <style type="text/css">
        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
            overflow-x: hidden;
            font-family: 'Noto Sans KR', sans-serif;
            background-color: rgba( 255, 255, 255, 0.5);
        }
    </style>
</head>

<section id="hello" class="home bg-mega" layout:fragment="indexContent">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home">
                <div class="home_border">
                    <div class="home_text">
                        <h1 class="text-white">
                            맞춤형 집 <br />구하는 기술
                        </h1>
                        <br>
                    </div>

                    <div class="input-group">
                        <input class="form-control" id="searchInput" type="text"
                               placeholder="동으로 검색">
                        <div id="data">
                            <button type="submit" id="submitbtn" style="height: 45px;" > <!-- onclick="location.href='SelectaptListService.d4b?search='" -->
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>