<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{indexLayout}"
>
<head>
	<style type="text/css">
		a {
		    color: #797979;
		}
		
		a:hover {
		    color: #212529;
		}
		
		h2 {
			font-family: 'Jua', sans-serif;
			text-align: center;
		}
		
		h1, h3 {
		font-family: 'Jua', sans-serif;
		text-align: center;
		}
		
		.clearfix:after {
			content: '';
			display: block;
			clear: both;
			float: none;
		}
	</style>
</head>
<section id="join" class="about roomy-100" layout:fragment="content">
	<div class="container">
		<div class="about_content">
			<div class="row">
				<!-- Left -->
				<div class="col-md-3" style="border: 1px solid rgb(211, 211, 211); padding-top: 15px; padding-bottom: 15px; height: 600px; width: 200px; position: fixed;">
					<div class="signup-form">
						<div class="form-group" style="text-align : center">
							<img id="preview" src="" style="width:200px" alt="Profile">
						</div>
					</div>
					<div style="margin-top: 10px; margin-bottom: 10px;">
						<hr>
					</div>
					<div>
						<b th:text="${rea.officeName}"></b><br>
						대표 공인중개사: <br>
						<b th:text="${user.name}"></b><br>
						<span th:text="${rea.officePhoneNum}"></span>
					</div>
					<div style="margin-top: 10px; margin-bottom: 10px;">
						<hr>
					</div>
					<div>
						사업장 주소: <br>
						<span th:text="${rea.officeAddress}"></span> <br><br>
						사업자 등록번호: <br>
						<span th:text="${rea.reaNum}"></span>
					</div>
				</div>
				<!-- Left End -->
				
				<!-- Right -->
				<div class="col-md-9" style="margin-left: 240px;">
					<div style="margin-left: 80px;">
						<!-- 첫 소개 글머리 -->
							<section>
								<div style="margin-bottom: 32px;">
									<div>
										<div>
											<h4>
												안녕하세요. <span th:text="${rea.officeName}"></span> 에 오신 것을 환영합니다. 
											</h4>
										</div>
										<div style="margin-top: 8px;">
											<b th:text="${reaIntroBoard.introTitle}"></b>
										</div>
										<div style="margin-top: 8px;">
											<span th:text="${reaIntroBoard.introContent}"></span>
										</div>
									</div>
								</div>
							</section>
						<!-- 두 번째 소개 -->
							<section>
								<div>
									<span th:text="${rea.officeName}"></span>
									<span th:text="${rea.officePhoneNum}"></span> 
								</div>
							</section>
							<div style="margin-top: 20px; margin-bottom: 20px;">
								<hr>
							</div>
							<div style="margin-top: 20px; margin-bottom: 20px;">
							</div>
						<!-- 공인중개사 후기 -->
						<div>
							<section id="id" class="about">
								<div class="container">
									<div class="about_content">
										<div class="container-fluid">
											<div class="card-header py-3">
												<h5 class="m-0 font-weight-bold text-primary">계약자 생생후기</h5>
											</div>
											<div class="card-body">
												<div class="table-responsive">
												
												<div id="review_table">
													<form id="review_form" name="review_form" method="post">
														<table class="table table-bordered" id="reviewTable"
															style="text-align: center; margin: auto; width: 100%; border: none;">								
										                    <tr>
										                        <td style="padding: 0;">
										                        <div align="left" style="padding-left: 10px;">
									                        		날짜:&nbsp;<input type="text" id="reviewDate" name="reviewDate" value="<%=sdf.format(today) %>" 
										                        					readonly="readonly" style="display: inline; width: 50%; padding: 0;"></div>
										                       	<td style="padding: 0;">
										                       	<div align="right" style="padding-right: 10px;">
										                       		작성자:&nbsp;<input type="text" id="userId" name="userId" value="<%=genericUserId%>" 
										                       						readonly="readonly" style="; display: inline; width: 30%; padding: 0;">
										                       	</div></td>
										                    </tr>
										                    <tr>
										                    	<td colspan="4" align="left" id="contentTd">
										                    		<textarea id="reviewContent" name="reviewContent" class="ckeditor"
																		rows="5" style="resize: none; width: 100%; border: 1px solid #d2d0d0;"></textarea>
																<div align="right">
										                    		<button type="submit" id="send" class="btn btn-primary btn-block btn-lg">작성 완료</button>
																</div></td>
										                    </tr>
									                   </table>
									                   </form>
													</div>
													</div>
													<div style="margin-top: 20px; margin-bottom: 20px;">
														<hr>
													</div>
													<!-- 후기글 뿌려지는 곳 -->
													<table style="width: 100%;" id="reviewList">
													<tbody id="reviewListTbody">
													</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
						<!-- Right End -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>