<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{indexLayout}"
>
<head>
	<style layout:fragment="pageCss">
		h2 {
			font-family: 'Jua', sans-serif;
		}
		
		.genderbox {
			padding: 1px;
			border: 1px solid #cccccc;
			height: 40px;
		}
		
		#tdId, #tdEmail, #tdPw, #tdCh {
			font-size: 13px;
			font-family: 'Jua', sans-serif;
			color: #ff6600;
		}
		
		.addrBtn:hover {
		   color: #fff;
		   background-color: #ff6863;
		   border-color: #ff6863;
		   border: 0.5px solid #eee;
		}
		
		.addrBtn{
		   color: #ff6863;
		   background-color: #eee;
		   border-color: #eee;
		   border: 2px solid #eee;
		   padding: 1rem 1rem;
		   text-align: center;
		}
		
		.btn-primary {
			color: #fff;
			background-color: #ff6863;
			border: 2px solid;
			border-color: #ff6863;
			padding: 1rem 3rem;
			margin-bottom: 1rem;
			width: 100%;
			height: 50px;
			font-weight: bold;
		}
		
		.btn-primary :hover {
			background-color: #eee;
			border-color: #eee;
			border: 2px solid #eee;
			color: #ff6863;
		}
	</style>
</head>
<section class="about roomy-100" layout:fragment="content">
	<div class="container">
		<div class="about_content">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="signup-form">
						<br> <br> <br>
						<h2 style="text-align: center">매물 등록</h2>
						<br>
						<hr>
						<br>
					</div>
				</div>
			</div>
			<form th:action="@{/rea/addSale}" method="post">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
					<!-- dropzone 사용 -->
						<!-- <div class="form-group">
							<label>사진 등록&nbsp;&nbsp;&nbsp;&nbsp;</label>
							<div id="imageUpload" class="dropzone">
							</div>
						</div> -->
						<div class="form-group">
							<label>면적 선택 &nbsp;&nbsp;&nbsp;&nbsp;</label> 
							<select class="form-control" style="width: 95%" name="aptSize" required>
								<option value="24" selected>24평 (전용 59㎡)</option>
								<option value="32">32평 (전용84.9㎡)</option>
								<option value="42">42평 (전용 116㎡)</option>
							</select>
						</div>
						<div class="form-group">
							<label>거래 유형 &nbsp;&nbsp;&nbsp;&nbsp;</label> 
							<select class="form-control" style="width: 95%" name="typeNum" required>
								<option value="0" selected>매매</option>
								<option value="1">전세</option>
							</select>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-12">
									<label>주소 &nbsp;&nbsp;&nbsp;&nbsp;<span id="tdCh"></span>
										<input type="button" class="addrBtn" onclick="searchAddr()" value="주소 검색">
									</label>
									<input type="text" class="form-control" name="saleAddress" required placeholder="지번 주소" style="width: 95%"> 
									<input type="text" class="form-control" name="saleRoadAddress" required placeholder="도로명 주소" style="width: 95%">
								</div>
							</div>																
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-6">
									<label>아파트</label> 
									<input type="text" class="form-control"	name="aptName" required>
								</div>
								<div class="col-sm-3">
									<label>동</label> 
									<input type="text" class="form-control"	name="aptDong" required placeholder="000동">
								</div>
								<div class="col-sm-3">
									<label>호</label> 
									<input type="text" class="form-control"	name="aptHo" required placeholder="000호">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>거래 금액 (매매가 | 보증금)</label> 
							<input type="text" class="form-control" name="salePrice" required placeholder="0억 0000천 만원">
						</div>
						<div class="form-group">
							<label>향(선택) &nbsp;&nbsp;&nbsp;&nbsp;</label> 
							<select	class="form-control" style="width: 95%" name="saleDirection">
								<option value="blank">-</option>
								<option value="남향">남향</option>
								<option value="남동향">남동향</option>
								<option value="남서향">남서향</option>
								<option value="동향">동향</option>
								<option value="서향">서향</option>
								<option value="북향">북향</option>
								<option value="북동향">북동향</option>
								<option value="북서향">북서향</option>
							</select>
						</div>
						<div class="form-group">
							<label>매물특징 &nbsp;&nbsp;&nbsp;&nbsp;</label>
							<p>
								<textarea cols="70" rows="3" placeholder="매물에 관한 부가적인 내용" name="saleEtc"></textarea>
							</p>
						</div>
						<br>
						<br>
						<input type="hidden" name="isContract" value="1">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4"></div>
								<div class="col-sm-4">
									<button type="submit" class="btn-primary">매물 등록</button>
								</div>
								<div class="col-sm-4"></div>
							</div>
						</div>
						<br> <br>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<div layout:fragment="pageJs">
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.js}"></script>
<script	src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0d0c0a21e3bf46994d7f7a41d9cc729f&libraries=services"></script>
<script>
	Dropzone.autoDiscover = false;
	
	$("#imageUpload").dropzone({
		maxFiles: 2000,
        url: "/ajax_file_upload_handler/",
        success: function (file, response) {
            console.log(response);
        }
	});

	function searchAddr() {
		new daum.Postcode({
			oncomplete : function(data) {
	            var rAddr = data.roadAddress; // 도로명 주소 변수
	            var extraRoadAddr = ''; // 참고 항목 변수
	
	            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
	            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
	            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
	                extraRoadAddr += data.bname;
	            }
	            // 건물명이 있고, 공동주택일 경우 추가한다.
	            if(data.buildingName !== '' && data.apartment === 'Y'){
	               extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	            }
	            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
	            if(extraRoadAddr !== ''){
	                extraRoadAddr = extraRoadAddr;
	            }
	
	            // 우편번호와 주소 정보를 해당 필드에 넣는다.
	            document.getElementById("roadAddr").value = rAddr;
	            document.getElementById("addr").value = data.jibunAddress;
	            
	            // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
	            if(rAddr !== ''){
	                document.getElementById("aptName").value = extraRoadAddr;
	            } else {
	                document.getElementById("aptName").value = '';
	            }
	        }
	    }).open();
	}

</script>

</div>
</html>